modules = ["python-3.12", "nodejs-20", "web", "rust-stable"]
run = "Python"

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[deployment]
run = ["sh", "-c", "Python"]

[workflows]
runButton = "Run Casino Backend"

[[workflows.workflow]]
name = "Run Casino Backend"
author = 45197313
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python server.py"
